@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hubert Mikołajewicz<br />
    Opole, 45-265<br />
    <abbr title="Phone">P:</abbr>
    +48533743670
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hubmik@hotmail.com">hubmik@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hubmikvvv@gmail.com">hubmikvvv@gmail.com</a>
</address>