@{
    ViewBag.Title = "Home Page";
    if(Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    <h1>Customer's Products Management</h1>
    <p class="lead">Welcome to MerchanApp customer's home view. In the top of the page you can select one of available menu's</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>You are right now on the user's control panel. Feel free and enjoy browsing the site.</p>
    </div>
    <div class="col-md-4">
        <h2>Get more info</h2>
        <p>Follow my linkedin profile.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/hubert-miko%C5%82ajewicz-4b7820119/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professional applications development</h2>
        <p>If you want to establish partnership, click "Contact" page and call me.</p>
    </div>
</div>